<CommandList>
  <CheckBooking>
    <XmlLoginId>{{ token }}</XmlLoginId>
    <LoginId>{{ token }}</LoginId>
    <TFBookingReference>{{ booking_id }}</TFBookingReference>
  </CheckBooking>
</CommandList>
