<CommandList>
    <ProcessDetails>
        <XmlLoginId>{{ token }}</XmlLoginId>
        <LoginId>{{ token }}</LoginId>
        <RoutingId>{{ routing_id }}</RoutingId>
        <OutwardId>{{ to_id }}</OutwardId>
        {% if from_id %}
        <ReturnId>{{ from_id }}</ReturnId>
        {% endif %}
        <HandoffParametersOnly>false</HandoffParametersOnly>
    </ProcessDetails>
</CommandList>