{% macro person_name(person) -%}
<Name>
                    <Title>{{ person.gender }}</Title>
                    <NamePartList>
                        <NamePart>{{ person.first_name }}</NamePart>
                        <NamePart>{{ person.last_name }}</NamePart>
                    </NamePartList>
                </Name>
{%- endmacro %}
{% macro person_addres(person) -%}
<Address>
                    <Company>{{ person.company }}</Company>
                    <Flat>{{ person.flat }}</Flat>
                    <BuildingName>{{ person.building_name }}</BuildingName>
                    <BuildingNumber>{{ person.building_number }}</BuildingNumber>
                    <Street>{{ person.street }}</Street>
                    <Locality>{{ person.locality }}</Locality>
                    <City>{{ person.city }}</City>
                    <Province>{{ person.province }}</Province>
                    <Postcode>{{ person.postcode }}</Postcode>
                    <CountryCode>{{ person.country_code }}</CountryCode>
                </Address>
{%- endmacro %}
{# -------- macroses end -------- #}
<CommandList>
    <ProcessTerms>
        <XmlLoginId>{{ settings.TOKEN }}</XmlLoginId>
        <LoginId>{{ settings.TOKEN }}</LoginId>
        <RoutingId>{{ routing_id }}</RoutingId>
        <OutwardId>{{ to_id }}</OutwardId>
        {% if from_id %}
        <ReturnId>{{ from_id }}</ReturnId>
        {% endif %}
        <BookingProfile>
            <CustomSupplierParameterList>
                <CustomSupplierParameter>
                    <Name>UseTFPrepay</Name>
                    <Value>Always</Value>
                </CustomSupplierParameter>
                <CustomSupplierParameter>
                    <Name>EndUserIPAddress</Name>
                    <Value>{{ passengers.real_ip }}</Value>
                </CustomSupplierParameter>
                <CustomSupplierParameter>
                    <Name>EndUserBrowserAgent</Name>
                    <Value>{{ passengers.user_agent }}</Value>
                </CustomSupplierParameter>
                <CustomSupplierParameter>
                    <Name>RequestOrigin</Name>
                    <Value>Russia-{{ passengers.referer or passengers.origin }}</Value>
                </CustomSupplierParameter>
                <CustomSupplierParameter>
                    <Name>PointOfSale</Name>
                    <Value>RU</Value>
                </CustomSupplierParameter>
                {% for n, v in sub_params.iteritems() %}
                <CustomSupplierParameter>
                    <Name>{{ n }}</Name>
                    <Value>{{ v }}</Value>
                </CustomSupplierParameter>
                {% endfor %}
            </CustomSupplierParameterList>
            <TravellerList>
                {% for traveller in passengers.personal_data %}
                <Traveller>
                    <Age>{{ traveller.age }}</Age>
                    <Name>
                        <Title>{{ traveller.gender }}</Title>
                        <NamePartList>
                            <NamePart>{{ traveller.first_name }}</NamePart>
                            <NamePart>{{ traveller.last_name }}</NamePart>
                        </NamePartList>
                    </Name>
                    <CustomSupplierParameterList>
                        <CustomSupplierParameter>
                            <Name>DateOfBirth</Name>
                            <Value>{{ traveller.birthday | date }}</Value>
                        </CustomSupplierParameter>
                        <CustomSupplierParameter>
                            <Name>PassportExpiryDate</Name>
                            <Value>{{ traveller.passport_validity | date }}</Value>
                        </CustomSupplierParameter>
                        <CustomSupplierParameter>
                            <Name>PassportNumber</Name>
                            <Value>{{ traveller.passport_number }}</Value>
                        </CustomSupplierParameter>
                        <CustomSupplierParameter>
                            <Name>PassportCountryOfIssue</Name>
                            <Value>{{ traveller.citizenship_alpha2 }}</Value>
                        </CustomSupplierParameter>
                        <CustomSupplierParameter>
                            <Name>Nationality</Name>
                            <Value>{{ traveller.citizenship_alpha2 }}</Value>
                        </CustomSupplierParameter>
                        {% if traveller.baggage_ids|length == 1 %}
                        <CustomSupplierParameter>
                            <Name>LuggageOptions</Name>
                            <Value>{{ traveller.baggage_ids[0] }}</Value>
                        </CustomSupplierParameter>
                        {% elif traveller.baggage_ids|length == 2 %}
                        <CustomSupplierParameter>
                            <Name>OutwardLuggageOptions</Name>
                            <Value>{{ traveller.baggage_ids[0] }}</Value>
                        </CustomSupplierParameter>
                        <CustomSupplierParameter>
                            <Name>ReturnLuggageOptions</Name>
                            <Value>{{ traveller.baggage_ids[1] }}</Value>
                        </CustomSupplierParameter>
                        {% endif %}
                        {% for n, v in traveller.sub_params.iteritems() %}
                        <CustomSupplierParameter>
                            <Name>{{ n }}</Name>
                            <Value>{{ v }}</Value>
                        </CustomSupplierParameter>
                        {% endfor %}
                    </CustomSupplierParameterList>
                </Traveller>
                {% endfor %}
            </TravellerList>
            <ContactDetails>
                {{ person_name(settings.CONTACT_PERSON) }}
                {{ person_addres(settings.CONTACT_PERSON) }}
                <HomePhone>
                    <InternationalCode>{{ settings.CONTACT_PERSON.phone.international_code }}</InternationalCode>
                    <AreaCode>{{ settings.CONTACT_PERSON.phone.area_code }}</AreaCode>
                    <Number>{{ settings.CONTACT_PERSON.phone.number }}</Number>
                    <Extension>{{ settings.CONTACT_PERSON.phone.extension }}</Extension>
                </HomePhone>
                <Email>{{ settings.CONTACT_PERSON.email }}</Email>
            </ContactDetails>
            <BillingDetails>
                {{ person_name(settings.BILLING_PERSON) }}
                {{ person_addres(settings.BILLING_PERSON) }}
            </BillingDetails>
        </BookingProfile>
    </ProcessTerms>
</CommandList>