<CommandList>
    <StartRouting>
        <XmlLoginId>{{ token }}</XmlLoginId>
        <LoginId>{{ token }}</LoginId>
        <Mode>plane</Mode>
        <Origin>
            <Descriptor>{{ src_iata }}</Descriptor>
            <Type>airportgroup</Type>
        </Origin>
        <Destination>
            <Descriptor>{{ dst_iata }}</Descriptor>
            <Type>airportgroup</Type>
        </Destination>
        <OutwardDates>
            <DateOfSearch>{{ depart_date | date }}-12:00</DateOfSearch>
        </OutwardDates>
        {% if return_date %}
        <ReturnDates>
            <DateOfSearch>{{ return_date | date }}-12:00</DateOfSearch>
        </ReturnDates>
        {% endif %}
        <MaxChanges>{{ changes }}</MaxChanges>
        <MaxHops>{{ hops }}</MaxHops>
        <Timeout>{{ timeout }}</Timeout>
        <TravelClass>{{ seats_class }}</TravelClass>
        <TravellerList>
            {% for traveller_age in travellers_ages %}
            <Traveller>
                <Age>{{ traveller_age }}</Age>
            </Traveller>
            {% endfor %}
        </TravellerList>
        <NumberOfBags>{{ bags }}</NumberOfBags>
        <IncrementalResults>true</IncrementalResults>
        <BookingProfile>
            <CustomSupplierParameterList>
                <CustomSupplierParameter>
                    <Name>EndUserIPAddress</Name>
                    <Value>{{ ip }}</Value>
                </CustomSupplierParameter>
                <CustomSupplierParameter>
                    <Name>EndUserBrowserAgent</Name>
                    <Value>{{ useragent }}</Value>
                </CustomSupplierParameter>
                <CustomSupplierParameter>
                    <Name>RequestOrigin</Name>
                    <Value>Russia-{{ requestorigin }}</Value>
                </CustomSupplierParameter>
                <CustomSupplierParameter>
                    <Name>PointOfSale</Name>
                    <Value>RU</Value>
                </CustomSupplierParameter>
            </CustomSupplierParameterList>
        </BookingProfile>
        {% if real_search %}
        <PerformSearch>true</PerformSearch>
        {% endif %}
    </StartRouting>
</CommandList>