<CommandList>
    <StartBooking>
        <XmlLoginId>{{ token }}</XmlLoginId>
        <LoginId>{{ token }}</LoginId>
        <TFBookingReference>{{ booking_id }}</TFBookingReference>
        <ExpectedPrice>
            <Amount>{{ price_amount }}</Amount>
            <Currency>{{ price_currency }}</Currency>
        </ExpectedPrice>
        {% if sandbox %}
        <FakeBooking>
            <EnableFakeBooking>true</EnableFakeBooking>
            <FakeBookingSimulatedDelaySeconds>15</FakeBookingSimulatedDelaySeconds>
            <FakeBookingStatus>Succeeded</FakeBookingStatus>
            <EnableFakeCardVerification>false</EnableFakeCardVerification>
        </FakeBooking>
        {% endif %}
    </StartBooking>
</CommandList>
