<CommandList>
    <ListSupplierRoutes>
        <XmlLoginId>{{token}}</XmlLoginId>
        <LoginId>{{token}}</LoginId>
        <Supplier>{{supplier}}</Supplier>
    </ListSupplierRoutes>
</CommandList>